<p>Merci !</p>

<p>Votre coiffure a bien &eacute;t&eacute; enregistr&eacute;e,<br/>

Un email de confirmation vous sera envoy&eacute; lors de sa mise en ligne (d&eacute;lais : 24h)</p>

<p><%= link_to 'Voter pour une photo', :controller => 'pictures' %>

