<h1>REGLEMENT DU JEU<br/>" CONCOURS PHOTO STREET TRIBE "</h1><br/>
		<p>
<b>Article 1 : Soci&eacute;t&eacute; organisatrice</b><br />
La soci&eacute;t&eacute; SCHWARZKOPF SA au capital de 1.600.000 &euro;, ayant son si&egrave;ge social au 161 rue de Silly - 92100 Boulogne-Billancourt, et inscrite sous le Registre du Commerce et des Soci&eacute;t&eacute;s de Nanterre sous le n&ordm; 326 280 096, organise sur son site Internet www.street-tribe.fr du 01/04/2008 au 15/07/2008 minuit en France m&eacute;tropolitaine (Corse comprise) un jeu gratuit sans obligation d&acute;achat intitul&eacute; "Concours Photo Street Tribe"
</p>

<p>
<b>Article 2 : Participants</b><br />
Ce jeu est r&eacute;serv&eacute; &agrave; toutes les personnes majeures r&eacute;sidant en France m&eacute;tropolitaine (Corse comprise), &agrave; l&acute;exclusion du personnel de la Soci&eacute;t&eacute; Organisatrice, des personnes ayant particip&eacute; &agrave; la conception du jeu et des personnes assurant sa mise en place, ainsi que des membres de leur famille en ligne directe. 
</p>


<p>
<b>Article 3 : Dur&eacute;e</b><br />
Le jeu "Concours Photo Street Tribe" se d&eacute;roulera du 01/04/2008 au 15/07/2008 minuit (date et heure fran&ccedil;aises de connexion faisant foi).
</p>

<p>
La Soci&eacute;t&eacute; Organisatrice se r&eacute;serve le droit d&acute;&eacute;courter, de proroger, de reporter, de modifier ou d&acute;annuler le jeu en cas de force majeure ou d&acute;&eacute;v&egrave;nements ind&eacute;pendants de sa volont&eacute;. En tout &eacute;tat de cause, sa responsabilit&eacute; ne saurait &ecirc;tre engag&eacute;e et aucune indemnit&eacute; ne saurait lui &ecirc;tre r&eacute;clam&eacute;e &agrave; ce titre. Dans de telles circonstances, la Soci&eacute;t&eacute; organisatrice fera ses meilleurs efforts pour en informer les Participants sur le site www.street-tribe.fr
</p>


<p>
<b>Article 4 : Support du jeu</b><br />
La participation &agrave; ce jeu est enti&egrave;rement gratuite et sans obligation d&acute;achat.
Le jeu est annonc&eacute; sur le site Internet www.street-tribe.fr, sur le site internet www.indola.fr ainsi que dans les salons de coiffure participant &agrave; l&acute;op&eacute;ration.
</p>




<p>
<b>Article 5 : Dotations</b><br />
Le jeu "Concours Photo Street Tribe" est dot&eacute; au plan national des lots d&eacute;crits ci-dessous :
</p>

<p>
1er prix Public: 1 week-end &agrave; Londres pour 2 personnes avec h&eacute;bergement de 2 nuits en h&ocirc;tel d&acute;une valeur unitaire de 1200 &euro; (valeur moyenne en fonction des dates de s&eacute;jour)
</p>

<p>
2&egrave;me prix Public: 1 iPod Nano d&acute;une valeur unitaire de 149 &euro;
</p>

<p>
3&egrave;me prix Public: 1 iPod Shuffle d&acute;une valeur unitaire de 49 &euro;
</p>

<p>
du 4&egrave;me au 10&egrave;me  prix Public: Une gamme compl&egrave;te de 5 produits Innova Street Tribe
</p>
       
<p>
1er prix Coiffeurs: 1 week-end &agrave; Londres pour 2 personnes avec h&eacute;bergement de 2 nuits en h&ocirc;tel d&acute;une valeur unitaire de 1200 &euro; (valeur moyenne en fonction des dates de s&eacute;jour)
</p>


<p>
2&egrave;me prix Coiffeurs: 1 iPod Nano d&acute;une valeur unitaire de 149 &euro;
</p>

<p>
3&egrave;me prix Coiffeurs: 1 iPod Shuffle d&acute;une valeur unitaire de 49 &euro;
</p>

<p>
du 4&egrave;me au 10&egrave;me  prix Coiffeurs: Une gamme compl&egrave;te de 5 produits Innova Street Tribe
</p>

<p>
Les gagnants des lots seront avertis par courrier. 
</p>

<p>
Modalit&eacute;s d&acute;obtention du lot voyage : les gagnants devront informer 8 semaines avant la date de leur d&eacute;part l&acute;organisation. Les gagnants proposeront deux dates de week-end et l&acute;organisateur choisira en fonction des disponibilit&eacute;s des h&ocirc;tels et des transports. Le d&eacute;part se fait de Paris, le transport vers Paris est &agrave; la charge des gagnants. L&acute;organisation prendra en charge 2 nuits d&acute;h&ocirc;tel de cat&eacute;gorie 3 &eacute;toiles ou &eacute;quivalent (selon disponibilit&eacute;s), petit d&eacute;jeuner inclus. Les participants souhaitant &eacute;tendre la dur&eacute;e de leur s&eacute;jour peuvent le faire sur simple demande &agrave; l&acute;organisation au moment de la r&eacute;servation. Tout co&ucirc;t suppl&eacute;mentaire entra&iuml;n&eacute; restera &agrave; leur charge.
</p>



<p>
<b>Article 6 : Modalit&eacute;s de participation - D&eacute;signation des gagnants</b><br />
La participation au jeu se fait exclusivement par Internet sur le site www.street-tribe.fr selon les modalit&eacute;s d&eacute;crites dans le pr&eacute;sent article. Toute participation sur papier libre ou toute autre forme est exclue.
</p>

<p>
Ce jeu est limit&eacute; &agrave; une seule participation par foyer (m&ecirc;me nom, m&ecirc;me adresse) et une seule participation par propri&eacute;taire/g&eacute;rant/employ&eacute; de salon de coiffure.
</p>

<p>
Un seul lot sera attribu&eacute; par foyer (m&ecirc;me nom, m&ecirc;me adresse) et un seul lot sera attribu&eacute; par propri&eacute;taire/g&eacute;rant/employ&eacute; de salon de coiffure
</p>

<p>
Pour participer au jeu "Concours Photo Street Tribe", il convient de suivre les &eacute;tapes suivantes : 
</p>

<p>
1. Le participant devra remplir le formulaire d&acute;inscription sur le site Internet www.street-tribe.fr o&ugrave; il fournira les informations n&eacute;cessaires &agrave; son identification afin de s&acute;enregistrer. Ainsi, chaque participant devra remplir un formulaire adresse. Devront notamment figurer le nom, le pr&eacute;nom, l&acute;adresse postale compl&egrave;te et une adresse email valide. En validant son inscription, le participant devient membre du site internet. Le statut de membre est d&eacute;taill&eacute; sur le site Internet au sein de la rubrique « Mentions l&eacute;gales ». Les informations saisies par le Participant l&acute;engagent d&egrave;s leur validation. Pour les propri&eacute;taires/g&eacute;rants/employ&eacute;s de  salons de coiffures, chaque participant devra en outre pr&eacute;ciser le nom et l&acute;adresse du salon auquel il appartient.
</p>

<p>
2. Le participant devra envoyer une photo de sa coiffure la plus d&eacute;jant&eacute;e qui sera apr&egrave;s validation par le service marketing mise en ligne sur le site internet.
</p>


<p>
Les gagnants seront d&eacute;sign&eacute;s le 16/07/08 sur la base du nombre de vote re&ccedil;u par les photos.
</p>

<p>
Toutes les photos d&eacute;pos&eacute;es sur le site devront &ecirc;tre libres de droits et exploitables par la soci&eacute;t&eacute; SCHWARZKOPF SAdans le cadre de sa communication sur le site. Les gagnants des prix devront donner leur accord pour une exploitation de leur image dans des publications et dans les communications internes &agrave; la soci&eacute;t&eacute; SCHWARZKOPF SA.
</p>

<p>
Apr&egrave;s v&eacute;rification de la r&eacute;gularit&eacute; de l&acute;inscription et des conditions d&acute;octroi du lot, le gagnant est avis&eacute; par la Soci&eacute;t&eacute; organisatrice soit par courrier &eacute;lectronique, soit par courrier postal, pr&eacute;cisant les modalit&eacute;s d&acute;obtention de son lot.
</p>

<p>
La liste d&eacute;finitive des gagnants sera mise en ligne sur le site au plus tard le 18/07/2008 minuit (date et heure fran&ccedil;aises de connexion faisant foi).
</p>

<p>
Les gagnants recevront leur dotation par la Poste sous 2 mois environ &agrave; compter de la fin du jeu.
L&acute;acheminement des lots, bien que r&eacute;alis&eacute; au mieux de l&acute;int&eacute;r&ecirc;t des gagnants, s&acute;effectue aux risques et p&eacute;rils des destinataires. 
</p>



<p>
<b>Article 7 : Validit&eacute; de la participation - V&eacute;rifications</b><br />
Ne seront pas prises en consid&eacute;ration les participations sans adresse, ou incompl&egrave;tes, inexactes ou re&ccedil;ues apr&egrave;s la date limite de participation (la date et l&acute;heure de r&eacute;ception de l&acute;inscription sur le site faisant foi). 
</p>

<p>
La Soci&eacute;t&eacute; organisatrice se r&eacute;serve le droit d&acute;annuler les participations de quiconque se serait enregistr&eacute; plusieurs fois sous diff&eacute;rentes identit&eacute;s ou en fournissant des renseignements inexacts. Si un participant s&acute;est enregistr&eacute; plusieurs fois, ces inscriptions seront consid&eacute;r&eacute;es comme nulles.
Toutes informations inexactes ou mensong&egrave;res entra&iuml;nent la disqualification du participant.
</p>

<p>
Les participants autorisent toutes v&eacute;rifications concernant leur identit&eacute; et domicile, et pour ce faire, la Soci&eacute;t&eacute; organisatrice se r&eacute;serve le droit, ce que tout participant accepte, de demander la communication d&acute;une copie des documents attestant de ces informations.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice se r&eacute;serve le droit v&eacute;rifier toute photographie post&eacute;e sur le site Internet www.street-tribe.fr et supprimer toute photographie qui serait contraire aux lois et r&egrave;glements en vigueur en France, contraire aux bonnes m&oelig;urs ou &agrave; la d&eacute;cence, &agrave; caract&egrave;re raciste, religieux, politique. 
</p>


<p>
<b>Article 8 : Fraudes</b><br />
Il est rigoureusement interdit, par quelque proc&eacute;d&eacute; que ce soit, de modifier ou de tenter de modifier les dispositifs du jeu propos&eacute;, notamment afin d&acute;en modifier les r&eacute;sultats ou tout &eacute;l&eacute;ment d&eacute;terminant les gagnants et les lots qui leur sont attribu&eacute;s.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice pourra suspendre ou annuler la participation d&acute;un ou plusieurs joueur(s), en cas de constatation d&acute;un comportement suspect qui peut &ecirc;tre, sans que cela soit exhaustif : la mise en place d&acute;un syst&egrave;me de vote automatis&eacute;, la connexion de plusieurs personnes et de postes informatiques diff&eacute;rents &agrave; partir du m&ecirc;me identifiant - c&acute;est-&agrave;-dire du m&ecirc;me profil enregistr&eacute; sur la base de donn&eacute;es du jeu, un rythme de gains inhabituels, une tentative de forcer les serveurs des organisateurs, une multiplication des comptes,  etc.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice est seule d&eacute;cisionnaire de l&acute;exclusion ou de la r&eacute;int&eacute;gration des joueurs concern&eacute;s au regard des informations en sa possession. En cas de sanction ou de r&eacute;clamation, il convient aux participants d&acute;apporter la preuve qu&acute;ils ont adopt&eacute; un comportement conforme au pr&eacute;sent r&egrave;glement. La responsabilit&eacute; de la Soci&eacute;t&eacute; organisatrice ne pourra &ecirc;tre engag&eacute;e &agrave; ce titre.
</p>

<p>
Afin de sauvegarder les m&ecirc;mes chances &agrave; tous les participants au pr&eacute;sent jeu, la Soci&eacute;t&eacute; organisatrice  se r&eacute;serve le droit de ne pas attribuer les dotations aux fraudeurs et/ou de poursuivre devant les juridictions comp&eacute;tentes les auteurs de ces fraudes.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice pourra annuler tout ou partie du jeu s&acute;il appara&iuml;t que des fraudes sont intervenues sous quelque forme que ce soit, notamment en mati&egrave;re informatique.
</p>


<p>
<b>Article 9 : Echange de lots</b><br />
Les lots offerts ne peuvent donner lieu &agrave; aucune contestation d&acute;aucune sorte, ni &agrave; la remise de leur contre-valeur en argent, ni &agrave; leur &eacute;change ou remplacement pour quelque cause que ce soit.
Si les circonstances l&acute;exigent, la Soci&eacute;t&eacute; organisatrice se r&eacute;serve le droit de remplacer les lots par d&acute;autres dotations de valeur &eacute;quivalente.
</p>


<p>
<b>Article 10 : D&eacute;p&ocirc;t et consultation du r&egrave;glement</b><br />
Le r&egrave;glement complet du jeu-concours "Concours Photo Street Tribe" est d&eacute;pos&eacute; chez Ma&iuml;tre AVALLE, huissier de justice, &agrave; Paris.
</p>

<p>
Le r&egrave;glement complet sera adress&eacute; gratuitement &agrave; tout participant, sur simple demande, &agrave; : SCHWARZKOPF SA - «Concours Photo Street Tribe - Indola»- 161 rue de Silly - 92642 Boulogne-Billancourt Cedex.
</p>


<p>
<b>Article 11 : Conditions de remboursement</b><br /> 
Pour les participants acc&eacute;dant au site www.street-tribe.fr &agrave; partir de la France m&eacute;tropolitaine (Corse comprise) via un modem et au moyen d&acute;une ligne t&eacute;l&eacute;phonique factur&eacute;e selon le temps pass&eacute; - c&acute;est-&agrave;-dire hors abonnements c&acirc;ble, ADSL ou liaison sp&eacute;cialis&eacute;e et forfait incluant ou offrant les co&ucirc;ts de communication - les co&ucirc;ts de connexion au site engag&eacute;s pour la participation au pr&eacute;sent jeu seront rembours&eacute;s aux participants sur simple demande &eacute;crite adress&eacute;e suffisamment affranchie avant le 18/07/2008 minuit (le cachet de la poste faisant foi) &agrave; l&acute;adresse du jeu, en joignant ou indiquant les informations suivantes :
- leur nom et pr&eacute;nom ;<br/>
- leur adresse compl&egrave;te ;<br/>
- leur pseudo ;<br/>
- une copie de la premi&egrave;re page de leur contrat d&acute;acc&egrave;s &agrave; Internet, indiquant notamment leur identit&eacute;, le nom de leur fournisseur d&acute;acc&egrave;s et la description du forfait ;<br/>
- une copie de la facture d&eacute;taill&eacute;e de l&acute;op&eacute;rateur t&eacute;l&eacute;phonique et/ou du fournisseur d&acute;acc&egrave;s auquel il est abonn&eacute; faisant appara&iuml;tre la date et heure de sa connexion au jeu propos&eacute; sur le site www.street-tribe.fr ;<br/>
- un RIB ou RIP.<br/>
</p>

<p>
Il ne sera effectu&eacute; qu&acute;un seul remboursement des frais de connexion par foyer (m&ecirc;me nom, m&ecirc;me adresse). Le remboursement sera effectu&eacute; dans les 60 jours &agrave; compter de la r&eacute;ception de la demande, apr&egrave;s v&eacute;rification du bien fond&eacute; de la demande, et notamment de la conformit&eacute; des informations contenues dans la lettre de demande de remboursement, notamment par rapport aux informations enregistr&eacute;es sur le formulaire d&acute;inscription saisi sur le site.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice ne sera tenue &agrave; aucun remboursement si la participation n&acute;a pas &eacute;t&eacute; conforme au pr&eacute;sent r&egrave;glement ou si la demande n&acute;a pas &eacute;t&eacute; faite dans les formes et d&eacute;lais mentionn&eacute;s au pr&eacute;sent article.
</p>

<p>
Remboursement du timbre de la demande au tarif lent en vigueur (base 20g) sur simple demande &eacute;crite dans le m&ecirc;me courrier.
</p>

<p>
Les frais d&acute;envoi du r&egrave;glement sont rembours&eacute;s au tarif lent en vigueur (base 20g) dans la limite d&acute;un seul remboursement par foyer (m&ecirc;me nom, m&ecirc;me adresse) sur simple demande &eacute;crite suffisamment affranchie accompagn&eacute;e d&acute;un RIB ou d&acute;un RIP et adress&eacute;e avant le 15/07/2008 minuit (le cachet de la poste faisant foi) &agrave; l&acute;adresse du jeu.
</p>


<p>
<b>Article 12 : Responsabilit&eacute;</b><br />
La Soci&eacute;t&eacute; organisatrice d&eacute;cline toute responsabilit&eacute; pour tout incident ou accident qui pourrait survenir pendant la dur&eacute;e de jouissance des lots attribu&eacute;s et/ou du fait de leur utilisation.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice ne pourra &ecirc;tre tenue responsable du retard &eacute;ventuel dans l&acute;acheminement du courrier, ou d&acute;une erreur d&acute;acheminement ou de la perte de celui-ci lors de son exp&eacute;dition.
Les participants ne pourront pr&eacute;tendre &agrave; aucune indemnit&eacute; ni contrepartie, quelle qu&acute;elle soit, en cas d&acute;annulation ou de perte. 
</p>

<p>
La participation &agrave; ce jeu concours implique la connaissance et l&acute;acceptation des caract&eacute;ristiques et des limites de l&acute;Internet, notamment en ce qui concerne les performances techniques, les risques d&acute;interruption, et plus g&eacute;n&eacute;ralement les risques inh&eacute;rents &agrave; toute connexion et transmission sur Internet, l&acute;absence de protection de certaines donn&eacute;es contre des d&eacute;tournements &eacute;ventuels et les risques de contamination par d&acute;&eacute;ventuels virus circulant sur le r&eacute;seau.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice informe que, compte tenu des caract&eacute;ristiques du r&eacute;seau Internet (comme la libre captation des informations diffus&eacute;es et la difficult&eacute;, voire l&acute;impossibilit&eacute; de contr&ocirc;ler l&acute;utilisation qui pourrait en &ecirc;tre faite par des tiers, elle ne saurait &ecirc;tre tenue pour responsable d&acute;une quelconque mauvaise utilisation de ces informations.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice ne saurait &ecirc;tre tenue responsable notamment de tout dommage direct ou indirect issu d&acute;une interruption, d&acute;un dysfonctionnement quel qu&acute;il soit et ce pour quelle que raison que ce soit emp&ecirc;chant le bon d&eacute;roulement du jeu, de la perte de donn&eacute;es, de toute d&eacute;faillance technique, ou encore de tout dommage direct ou indirect qui r&eacute;sulterait, d&acute;une fa&ccedil;on quelconque, d&acute;une connexion au site www.street-tribe.fr
</p>

<p>
Il est de la responsabilit&eacute; de tout participant de prendre toutes les mesures appropri&eacute;es pour prot&eacute;ger les donn&eacute;es stock&eacute;es sur son propre ordinateur. La connexion au site www.street-tribe.fr et la participation au jeu «Concours Photo Street Tribe» se fait aux risques et p&eacute;rils du participant.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice fera ses meilleurs efforts pour permettre un acc&egrave;s au jeu pr&eacute;sent sur le site &agrave; tout moment pendant la dur&eacute;e du jeu, sans pour autant &ecirc;tre tenue &agrave; une obligation de r&eacute;sultat. La Soci&eacute;t&eacute; organisatrice pourra, &agrave; tout moment, notamment pour des raisons techniques, de mise &agrave; jour, de maintenance, interrompre l&acute;acc&egrave;s au site www.street-tribe.fr et aux jeux qu&acute;il contient. En tout &eacute;tat de cause, sa responsabilit&eacute; ne saurait &ecirc;tre engag&eacute;e et aucune indemnit&eacute; ne saurait lui &ecirc;tre r&eacute;clam&eacute;e &agrave; ce titre.
</p>


<p>
<b>Article 13 : Publicit&eacute; et promotion des gagnants</b><br />
Les gagnants autorisent la Soci&eacute;t&eacute; organisatrice &agrave; citer leur nom, pr&eacute;nom, coordonn&eacute;es et &agrave; diffuser leur photographie &agrave; l&acute;occasion de toute campagne publicitaire ou promotionnelle li&eacute;e au pr&eacute;sent jeu-concours, sur tout support, cette possibilit&eacute; restant subordonn&eacute;e &agrave; l&acute;autorisation expresse des gagnants et sans que les gagnants puissent pr&eacute;tendre &agrave; une r&eacute;mun&eacute;ration autre que le lot remport&eacute;. Les personnes ne voulant pas que leur nom ou leur image soit diffus&eacute; doivent le faire savoir &agrave; la soci&eacute;t&eacute; organisatrice par email au moment de leur participation.
</p>


<p>
<b>Article 14 : Protection des donn&eacute;es &agrave; caract&egrave;re personnel</b><br />
Les coordonn&eacute;es des participants pourront &eacute;ventuellement &ecirc;tre saisies sur informatique pour permettre la cr&eacute;ation d&acute;un fichier commercial, apr&egrave;s accord de leur part. Conform&eacute;ment &agrave; la Loi Informatique et Libert&eacute;s du 6 janvier 1978, les participants disposent d&acute;un droit d&acute;acc&egrave;s, de rectification et de retrait des informations nominatives les concernant, en &eacute;crivant &agrave; : SCHWARZKOPF SA - "Concours Photo Street Tribe - Indola" - 161 rue de Silly - 92642 Boulogne-Billancourt Cedex.
</p>


<p>
<b>Article 15 : Questions</b><br />
Il ne sera r&eacute;pondu &agrave; aucune demande t&eacute;l&eacute;phonique ou &eacute;crite relative aux modalit&eacute;s du jeu, &agrave; l&acute;interpr&eacute;tation du r&egrave;glement, au tirage au sort ayant d&eacute;sign&eacute; les gagnants, &agrave; la liste des gagnants.
</p>


<p>
<b>Article 16 : Contestations</b><br />
Toute difficult&eacute; n&eacute;e ou &agrave; na&icirc;tre, li&eacute;e &agrave; l&acute;interpr&eacute;tation du pr&eacute;sent jeu ou de son r&egrave;glement, sera soumise &agrave; la Soci&eacute;t&eacute; organisatrice. Ses d&eacute;cisions seront r&eacute;put&eacute;es souveraines et sans appel. 
</p>

<p>
Aucune contestation ou r&eacute;clamation ne sera prise en consid&eacute;ration apr&egrave;s un d&eacute;lai de 1 mois apr&egrave;s la cl&ocirc;ture du jeu-concours.
</p>

<p>
La Soci&eacute;t&eacute; organisatrice pourra se pr&eacute;valoir aux fins de preuve des programmes, donn&eacute;es, fichiers, enregistrements, op&eacute;rations et tout autre &eacute;l&eacute;ment de quelque nature que ce soit, sous quelque format ou support que ce soit (notamment informatiques, &eacute;lectroniques), &eacute;tablis, re&ccedil;us ou conserv&eacute;s directement ou indirectement par la Soci&eacute;t&eacute; organisatrice, notamment dans ses syst&egrave;mes d&acute;information.
Les participants s&acute;engagent &agrave; ne pas contester la recevabilit&eacute;, la validit&eacute; ou la force probante de ces &eacute;l&eacute;ments, sur le fondement de quelque disposition l&eacute;gale que ce soit ;  ces &eacute;l&eacute;ments seront opposables aux participants. 
</p>


<p>
<b>Article 17 : Acceptation du r&egrave;glement</b><br />
La participation &agrave; ce jeu-concours implique l&acute;acceptation pleine et enti&egrave;re du pr&eacute;sent r&egrave;glement.
</p>
<p>
Fait &agrave; Boulogne-Billancourt, le 18 Mars 2008.
</p>
