<p>Vous avez d&eacute;j&agrave; vot&eacute; aujourd'hui,</p>
<p>Merci de revenir demain pour pouvoir voter &agrave; nouveau.</p>
<p><%= link_to 'Voir le podium', :controller => 'welcome', :action => 'show' %></p>