<p>Merci d'avoir vot&eacute; !</p>

<p>Rendez-vous &agrave; partir du 16 Juillet pour les r&eacute;sultats ! </p>

<p><%= link_to 'Voir le podium', :controller => 'welcome', :action => 'show' %></p>