<table>
	<tr>
		<td>
			<p>
				Salut,
				<br/><br/>
				J'ai d&eacute;pos&eacute; la photo de ma coiffure la plus d&eacute;jant&eacute;e sur <a href="http://www.street-tribe.fr/">www.street-tribe.fr</a>, viens la voir et voter pour moi !
				<br/><br/>
				Toi aussi tu peux d&eacute;poser gratuitement ta photo et tenter de gagner un week-end &agrave; Londres*, un iPod Nano**, un iPod Shuffle** ou des produits coiffants Street Tribe !
				<br/><br/>
				Rejoins la Tribu !
				<br/><br/>
				A bient&ocirc;t
				<br/><br/>
				<%=h @name %>
				<br/><br/>
				<small>
					*Jeu gratuit sans obligation d'achat
					<br/>
					**iPod est une marque d'Apple Inc. d&eacute;pos&eacute;e aux Etats-Unis et dans d'autres pays
				</small>
			</p>
		</td>
	</tr>
</table>