<table>
	<tr>
		<td>
			<p>
				<%=h @user.firstname %>,
				<br /><br />
				Votre photo n'a pas pu &ecirc;tre mise en ligne par le mod&eacute;rateur.
				<br /><br />
				Merci de v&eacute;rifier la conformit&eacute; de votre photo avec le r&egrave;glement et retentez votre chance avec une autre photo !
				<br /><br />
				A tr&eacute;s bient&ocirc;t sur Street-Tribe.fr !
			</p>
		</td>
	</tr>
</table>