<table>
	<tr>
		<td>
			<p>
				F&eacute;licitations <%=h @user.firstname %>!
				<br/><br/>
				Votre photo est maintenant en ligne, vous pouvez la consulter &agrave; cette adresse : <a href="http://www.street-tribe.fr/pictures">www.street-tribe.fr/vote</a>
				<br/><br/>
				Faites voter vos amis pour votre photo et r&eacute;coltez le maximum de voix pour gagner un voyage &agrave; londres, un iPod Nano, un iPod Shuffle ou des produits Street Tribe, allez directement sur cette page : <a href="http://www.street-tribe.fr/friends">www.street-tribe.fr/fairevotervosamis</a>
				<br/><br/>
				A tr&egrave;s bient&ocirc;t sur Street-Tribe.fr !
			</p>
		</td>
	</tr>
</table>