<table>
	<tr>
		<td>
			<p>
				Bonjour <%= @name %>,
				<br/><br/>
				Vous avez participé au concours photo Innova Street Tribe et nous vous en remercions.
				<br/><br/>
				Venez vite découvrir sur www.street-tribe.fr si vous faites parti des gagnants du concours !
				<br/><br/>
				A très bientôt,
				<br/><br/>
				L'équipe INDOLA
			</p>
		</td>
	</tr>
</table>