<h1>Les lots &agrave; gagner</h1>

<h3>Remportez le maximum de voix et gagnez l'un des lots suivant :</h3>

<table cellspacing="20px">
	<tr>
		<td align="center"><%= image_tag('cabine.gif', :border => 0) %></td>
		<td><b>1&egrave;re place : Week-end &agrave; Londres</b><br />
			Partez &agrave; l'assault de Londres avec la personne de votre choix pour un week-end de folie !  Deux jours et deux nuits pour vous &eacute;clater dans une des capitales les plus tendances du moment !</td>
	</tr>
	<tr>
		<td align="center"><%= image_tag('nano.gif', :border => 0) %></td>
		<td><b>2&egrave;me place : iPod nano 4 Go</b> <br/>
			6,5 mm d'&eacute;paisseur et 1000 chansons dans la poche ! Enjoy !	
		</td>
	</tr>
	<tr>
		<td align="center"><%= image_tag('ipod-shuffle.gif', :border => 0) %></td>
		<td><b>3&egrave;me place : iPod shuffle 1 Go</b> <br/>
				Clipsez, d&eacute;clipsez et &eacute;coutez vos chansons pr&eacute;f&eacute;r&eacute;es ! Just Fashion !</td>
	</tr>
	<tr>
		<td align="center">
				<%= image_tag('lotproduct.gif', :border => 0) %></td>
				<td><b>De la 4&egrave;me &agrave; la 10&egrave;me Place : Une gamme compl&egrave;te de produits coiffants Innova Street Tribe.</b><br />
				Sculptez, Coiffez, D&eacute;coiffez, Remodelez !
				
		</td>
	</tr>
</table>