<div align="center">
<h1>CONTACT</h1><br/>
		<p>
<b>Vous avez une question ?</b><br />
</p>
<p>N'h&eacute;sitez pas &agrave; nous contacter par e-mail :</p><a href="mailto: info@street-tribe.fr "> info@street-tribe.fr </a>

<p>Pour retirer votre photo ou supprimer votre compte :</p><a href="mailto: admin@street-tribe.fr "> admin@street-tribe.fr </a>

<p>
<b>L'&eacute;quipe Indola</b><br />
</p>
</div>